*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: Arial, sans-serif;
    background-color: #000000;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    background-color: #000000;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}
.card{
    height: 350px;
    width: 300px;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 10px;
}
.card img{
    height: 150px;
    width: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}
.card h3{
    font-size: 20px;
    white-space: nowrap;
}

.card h4{
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #ff0b0b;

}