*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: Arial, sans-serif;
    background-color: #000000;
    cursor: none;
}

#box{
    height: 200px;
    width: 200px;
    background-color: #ff0101;
}
main{
    height: 100vh;
    width: 100%;
    background-color: #000000;
}

#cursor{
    position: fixed;
    height: 100px;
    width: 100px;
    transform: translate(-50%,-50%);
}