*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #000000;
}
#BOX{
    height: 400px;
    width: 400px;
    background-color: rgb(33, 235, 184);
    color: thistle;
    border: 7px solid red;
    
}
#btn:active{
    
   scale: 1.1;
}
#btn{
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgb(211, 245, 76);
    border-radius: 10px;
    cursor: pointer;
    border: green 5px solid;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border: 5px solid black;
}