*{
    margin: 0;
    padding: 0;
}
html,body{
    font-family: Arial, sans-serif;
    
    
}

.elem{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #4a4646;
    border-radius: 10px;
    margin-top: 10px;
    color: #ffffff;
}
button{
    background-color: #34ade5;
    color: #000;
    padding: 20px;
    border-radius: 10px;
}
button:active{
    background-color: #add91e;
    color: #426a8a;
    cursor: pointer;
    transform: scale(1.2);
}
