* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





body {
    background-color: #111;
}
button{
    background-color: #c05c5c;
    padding: 10px 20px;
    margin-top: 50px;
}
h2{
    font-size: 50px;
    color: thistle;
}
#bro{
    margin-top: 50px;
    background-color: aquamarine;
    width: 100px;
    height: 50px;
    text-align: center;
}