*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(51, 148, 233);
}
html,body{
    height:100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    background-color: #721f1f;
    width: 400px;
    height: 500px;
    position: relative;
    border-radius: 10px;
    padding: 20px;
    margin: 50px;
    
}
.card #img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px;
}
.card h2{
    font-size: 20px;
    text-align: center;
}
.card i{
    position: absolute;
       top: 50%;
       left: 50%;
       font-size: 50px;
       opacity: 0;
       background: linear-gradient(to right bottom,rgb(178, 11, 178),rgb(242, 0, 165));
       background-clip: text;

       color: transparent;
       transform: translate(-50%,-50%) scale(0) rotate(-90deg);
       transition: all cubic-bezier(.99,.99,.26,2.44) 0.4s;
}