
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.card{
    height: 350px;
    width: 450px;
    background-color: #f7eded;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    height: 70px;
    width: 155px;
    background-color: #fff;
    
}
main{
    height: 100%;
    width: 100%;
    background-color: #000000;
     display: flex;
    align-items: center;
    justify-content: center;

}
.outer{
    height: 15px;
    width: 100%;
    background-color: #f3dadaaf;
    border-radius: 5px;
}
.inner{
    height: 100%;
    width: 50px;
    background-color: #00ff08;

}




.bottom h2{
    font-size: 60px;
}
.bottom button{
    padding:12px 25px;
    background-color: green;
    color: white;
    border-radius: 10px;

    font-weight: 600;
}